html {
  color: white;
  background-color: #121212;
}

body {
  color: white;
  background-color: #121212;
}
.list-container {
  padding: 2vh 10vw;
  background-color: #121212;
}

.list-title {
  color: white;
  text-align: center;
}

.mission-card {
  padding: 16px;
  border-radius: 20px;
  margin: 18px;
  background-color: #242424;
}
